    /* media query for large screen */
@media screen and (max-width: 992px) {
    main #col-right
    div.main-content div.album {
        width: calc(100% / 4);
    }
}

    /* media query for medium screen */
@media screen and (max-width: 768px) {
    main #col-right
    div.main-content div.album {
        width: calc(100% / 2);
    }

    footer#player
    div.player-album-title {
        margin-right: 0.3rem;
    }

    footer#player
    div.player-album-btn {
        flex-direction: column;
    }

    footer#player
    div.player-audio-btn {
        flex-direction: column;
    }

    footer#player
    div.player-audio-btn a:nth-child(2) {
        order: 2;
    }
}

    /* media query for small screen */
@media screen and (max-width: 576px) {
    main #col-left {
        width: 50px;
    }

    main #col-left div.col-left-content
    img.logo-small {
        display: inline-block;
        width: 100%;
        padding: 0 0.5rem;
    }

    main #col-left div.col-left-content
    a i {
        font-size: 1rem;
    }

    main #col-left div.user
    a i {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    main #col-left
    img.logo {
        display: none;
    }

    main #col-left
    span {
        display: none;
    }

    main #col-left
    h4 {
        display: none;
    }

    main #col-left
    nav {
        display: none;
    }

    main #col-left
    hr {
        display: none;
    }

    main #col-right {
        width: calc(100vw - 50px);
    }

    footer#player
    div.player-album img {
        width: 40px;
    }
}