* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}

a {
    text-decoration: none;
    color: white;
}

main {
    height: calc(100vh - 80px);
}

main #col-left {
    width: 200px;
    background-color: black;
}

main #col-right {
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow: auto;
    position: relative;
}

main #col-right
#toolbar {
    width: 100%;
    text-align: right;
    background-color: rgba(0,0,0,0.4);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

main #col-right
div.main-content {
    padding: 1rem;
}

main #col-right
div.main-content nav ul {
    text-align: center;
}

main #col-right
div.main-content nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem;
}

main #col-right
div.main-content nav li a {
    color: #a3a3a3;
}

main #col-right
div.main-content nav li a:hover {
    color: white;
    border-bottom: 2px solid #adff2f;
}

main #col-right
div.main-content h1, h4 {
    color: white;
}

main #col-right
div.main-content h1 {
    margin: 2rem 0;
}

main #col-right
div.main-content div.album {
    width: calc(100% / 6);
    text-align: center;
    padding-right: 1rem;
}

main #col-right
div.main-content div.album-pic {
    position: relative;
}

main #col-right
div.main-content div.album-pic img {
    width: 100%;
}

main #col-right
div.main-content div.album-pic div.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

main #col-right
div.main-content div.album-pic img:hover {
    filter: opacity(0.5);
}

main #col-right
div.main-content div.album-pic:hover div.play {
    display: block;
}

main #col-right
div.main-content div.album h4 {
    margin: 1rem 0 0.5rem;
}

footer#player {
    height: 80px;
    color: white;
    background-color: #282828;
    justify-content: space-between;
    padding: 0.5rem;
}

footer#player
div.player-album,div.player-music,div.player-audio {
    align-items: center;
}

footer#player
div.player-album, div.player-audio {
    flex-basis: 25%;
}

footer#player
div.player-album img {
    height: 100%;
}

footer#player
div.player-music {
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

footer#player
div.player-music-btn, div.player-music-progress {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

footer#player
div.player-music-btn i:hover {
    transform: scale(1.3);
}

footer#player
div.player-music-progress {
    font-size: 0.6rem;
}

footer#player
div.player-music-progress div.player-music-bar {
    width: 60%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 5px;
}

footer#player
div.player-music-bar div.bar-progress {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    background-color: #c0c0c0;
}

footer#player
div.player-audio {
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.float {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
}

.btn:hover {
    transform: scale(1.1);
}