* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}

a {
    text-decoration: none;
    color: white;
}

h1,h4,h5 {
    color: white;
}

main {
    height: calc(100vh - 80px);
}

main #col-left {
    width: 200px;
    background-color: black;
    padding: 1rem 0;
}

main #col-left div.col-left-content {
    height: calc(100% - 50px);
}

main #col-left div.col-left-content
img.logo-small {
    display: none;
}

main #col-left div.col-left-content
img.logo {
    width: 85%;
    padding-left: 1rem;
}

main #col-left div.col-left-content
.container {
    flex-direction: column;
}

main #col-left
a,li {
    color: #a3a3a3;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

main #col-left div.col-left-content
a i {
    font-size: 2rem;
    padding-left: 1rem;
}

main #col-left
a:hover,li:hover {
    color: white;
}

main #col-left div.container
a:hover {
    border-left: 3px solid #adff2f;
}

main #col-left div.col-left-content
h4 {
    text-transform: uppercase;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

main #col-left div.col-left-content
nav ul {
    list-style: none;
    padding-left: 1rem;
}

main #col-left div.user {
    height: 50px;
    padding: 0 1rem;
}

main #col-left div.user
hr {
    margin: 0.3rem 0;
}

main #col-right {
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow: auto;
    position: relative;
}

main #col-right
#toolbar {
    width: 100%;
    text-align: right;
    background-color: rgba(0,0,0,0.4);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

main #col-right div.main-content {
    padding: 1rem;

}

main #col-right div.main-content
nav ul {
    text-align: center;
}

main #col-right div.main-content
nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem;
}

main #col-right div.main-content
nav li a {
    color: #a3a3a3;
}

main #col-right div.main-content
nav li a:hover {
    color: white;
    border-bottom: 2px solid #adff2f;
}

main #col-right div.main-content
h1 {
    margin: 2rem 0;
}

main #col-right div.main-content
div.album-row {
    flex-wrap: wrap;
}

main #col-right div.main-content
div.album {
    width: calc(100% / 6);
    text-align: center;
    padding-right: 1rem;
}

main #col-right div.main-content
div.album-pic {
    position: relative;
}

main #col-right div.main-content
div.album-pic img {
    width: 100%;
}

main #col-right div.main-content
div.album-pic div.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

main #col-right div.main-content
div.album-pic img:hover {
    filter: opacity(0.5);
}

main #col-right div.main-content
div.album-pic:hover div.play {
    display: block;
}

main #col-right div.main-content
div.album h4 {
    margin: 1rem 0 0.5rem;
}

footer#player {
    height: 80px;
    background-color: #282828;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
}

footer#player
div.player-album,div.player-music,div.player-audio {
    align-items: center;
}

footer#player
div.player-album,div.player-audio {
    flex-basis: 25%;
}

footer#player
div.player-album img {
    width: 70px;
    margin-right: 0.5rem;
}

footer#player
div.player-album a{
    color: #a3a3a3;
}

footer#player
div.player-album-title {
    flex-direction: column;
    margin-right: 1.5rem;
}

footer#player
div.player-album-subtitle {
    font-size: 0.7rem;
}

footer#player
div.player-album-subtitle a:hover {
    color: white;
    border-bottom: 1px solid;
}

footer#player
div.player-album-btn {
    gap: 35%;
}

footer#player
div.player-music {
    flex-basis: 50%;
    flex-wrap: wrap;
}

footer#player
div.player-music div.player-music-btn,div.player-bar {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

footer#player
i:hover {
    transform: scale(1.3);
    color: white;
}

footer#player
div.player-music div.player-bar {
    font-size: 0.6rem;
}

footer#player
div.player-music-bar,div.player-audio-bar {
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 5px;
}

footer#player
div.player-music-bar {
    width: 60%;
}

footer#player
div.bar-progress {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    background-color: #c0c0c0;
    position: relative;
}

footer#player
div.bar-progress i.fa-circle {
    display: none;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

footer#player
div.bar-progress:hover {
    background-color: #adff2f;
}

footer#player
div.bar-progress:hover i.fa-circle {
    display: block;
}

footer#player
div.player-audio {
    justify-content: flex-end;
}

footer#player
div.player-audio-btn i {
    margin-right: 1rem;
}

footer#player
div.player-audio-bar {
    width: 30%;
}

footer#player
div.player-audio-bar div.bar-progress {
    width: 75%;
}

.flex {
    display: flex;
}

.float {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
}

.btn:hover {
    transform: scale(1.1);
}