* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: calc(100vh - 80px);
    font-family: 'Montserrat', sans-serif;
}

main .container {
    height: 100%;
}

main #left-nav {
    width: 200px;
    background-color: black;
}

main #main-content {
    width: calc(100vw - 200px);
    background-color: #141922;
}

main #main-content
#toolbar {
    background-color: rgba(0,0,0,0.5);
    padding: 1rem 1rem 3.5rem;
}

main #main-content
#toolbar .upgrade {
    float: right;
}

main #main-content
#toolbar a {
    text-decoration: none;
    color: white;
}

footer {
    height: 80px;
    background-color: #282828;
}

.flex {
    display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
}

.btn:hover {
    display: inline-block;
    transform: scale(1.1);
}