* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main .container {
    height: calc(100vh - 80px);
    color: #a3a3a3;
}

main #col-left {
    width: 200px;
    background-color: black;
}

main #col-right {
    width: calc(100vw - 200px);
    background-color: #141922;
}

main #col-right
#toolbar {
    text-align: right;
    background-color: rgba(0,0,0,0.4);
    padding: 1rem;
}

a {
    text-decoration: none;
}

main #col-right
#toolbar a {
    color: white;
}

main #col-right
div.main-content {
    padding: 1rem;
}

main #col-right
div.main-content nav ul {
    text-align: center;
    margin-bottom: 2rem;
}

main #col-right
div.main-content nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem;
}

main #col-right
div.main-content nav li a {
    color: #a3a3a3;
}

main #col-right
div.main-content nav li a:hover {
    color: white;
    border-bottom: 2px solid #adff2f;
}

main #col-right
div.main-content h1, h4 {
    color: white;
}

main #col-right
div.main-content div.album {
    display: inline-block;
    width: calc(100% / 6);
    text-align: center;
    padding-right: 1rem;
}

main #col-right
div.main-content div.album img {
    width: 100%;
    margin: 2rem 0 1rem;
}

main #col-right
div.main-content div.album h4 {
    margin-bottom: 0.5rem;
}

footer {
    height: 80px;
    background-color: #282828;
}

.flex {
    display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
}

.btn:hover {
    transform: scale(1.1);
}